.mainreg{

    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.inner-reg{

    display: flex;
    flex-direction: column;
    gap:18px;
    border:1px solid black;
    padding:40px;
    border-radius: 10px;
}

.reg-p{

    font-weight: bold;
    font-size: 20px;
}

.lbls{

    font-weight: bold;
    margin-right: 10px;
}

.reg{

    height: 30px;
    padding:10px;
    padding:4px;
}

.success{

    color:green;
}

.error{
    color:red;
}