.footer{
    width:100%;
    width: 1024px;
    font-size: 12px;
}

.flists{

    width:100%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.flist{
    padding:0;
    list-style: none;
}

.fListItem{

    margin-bottom: 10px;
    color:#003580;
    cursor:pointer;
    font-size: 15px;
}

.ftext{

    text-align: center;
    font-weight: 800;
    font-size: 16px;
}